@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  margin: 0;
  /* font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("Group 17.png");
  background-size: cover; */
  background: #e5cccc;
  font-family: "Ubuntu";
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .carousel-item {
  height: 32rem;
  background: #000;
  position: relative;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  
  background-position: center;
  background-size: cover;
  opacity: 0.5;
} */
